<div class="navigator">
    <nav>
        <ul class="nav-links">
            <li><a class="<%= pageName === 'info' && 'active' %>" href="/info">Kitap Bilgi</a></li>
            <li><a class="<%= pageName === 'index' && 'active' %>" href="/">Kitap Ekle</a></li>
        </ul>
    </nav>
</div>