.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #E6E6FA;
    padding: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
}

.navigator {
    display: flex;
    width: 100%;
    justify-content: center;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin-top: 18px;
    margin-bottom: 18px;
}

.nav-bar {
    display: flex;
    align-items: flex-start;
}

.nav-links a {
    color: #551A8B;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.nav-links a:hover, .active {
    background-color: #F2F2FF;
}

.info-card{
    display: flex;
    width: 300px;
    padding: 20px;
    margin: 10px;
    background-color: #F2F2FF;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.info-ul li{
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

h3 {
    display: flex;
    color: #551A8B;
}

form {
    width: 300px;
    background-color: #F2F2FF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    color: #551A8B;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"] {

    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: fit-content;
    align-self: center;
    background-color: #551A8B;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #450B7A;
}